/*color scheme lightest to darkest #F3FBFF, #E4ECEF, #C3C9CC, #51CBFF, #386A7F, #23267F, #010026*/
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
html {
  background: #F3FBFF;
  max-width: 980px;
}
body {
  width: 80%;
  max-width: 980px;
  min-width: 750px;
  margin: 0 auto;
  background: #E4ECEF;
  font-family: "Amatic SC", Arial, sans-serif;
}
header#headermain {
  position: relative;
  background-image: url(images/homepage/sceneday1.jpg);
  background-size: cover;
  min-height: 375px;
  margin-bottom: 0;
}
h1 {
	margin: 0;
}
h1#pagetitle {
  color: #010026;
  font-size: 7em;
  text-shadow: 3px 3px #e4efee;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 95%;
}
h2#subtitle {
  text-align: center;
  font-weight: 500;
  color: #010026;
  text-shadow: 1px 1px #e4efee;
}
nav {
  height: 20px;*/
  margin-bottom: 1em;
  margin-top: 0;
}
li.navbar {
  font-size: 1.2em
}
nav ul {
  list-style-type: none;
}
nav li {
  float: left;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}
nav li a {
  text-decoration: none;
  color: #386A7F;
}
nav a :visited {
  color: #C3C9CC;
}
nav a:focus, nav a:hover {
  color: #51CBFF;
}
nav a:active {
  color: #F3FBFF;
}
main {
	color: #010026;
}
aside {
  font-size: 1.5em;
  float: right;
  width: 200px;
}
aside ul {
	padding-left: 0;
}
aside, ul, li {
  margin: 0;
}
aside ul {
  list-style-type: none;
}
aside li {
  margin-top: 25px;
  margin-bottom: 5px;
}
li.haiku {
	line-height: 1.5em;
}
h2#haiku {
	text-align: right;
}
img.flower {
	opacity: 0.8;
}
span.author {
  font-size: 0.7em;

}
time {
	font-size: 1.5em;
  font-weight: bolder;
}
article {
  width: 70%;
  max-width: 600px;
  height: 400px;
  margin: 0 1em 0 1em;
}
article {
	border-top: 3px dotted white;
}
article header h2 {
  font-size: 2em;
}
article header,time {
	padding: 0 5px 0 5px;
}
article#day1wrapper {
	margin-top: 2em;
	background: url(images/homepage/sceneday1.png);
	opacity: 0.8;
	color: #010026;
}

article#day2wrapper {
	margin-top: 2em;
	background: url(images/homepage/wolftracks.png);
	opacity: 0.8;
	color: #F3FBFF;
}
article#day3wrapper {
	margin-top: 2em;
	background: url(images/homepage/scene1day3.png);
	opacity: 0.8;
	color: #010026;
}
article#day4wrapper {
	margin-top: 2em;
	background: url(images/homepage/day4morningbellflowers2.png);
	opacity: 0.8;
	color: #C3C9CC;
}
article#day5wrapper {
	margin-top: 2em;
	background: url(images/homepage/antlers.png);
	opacity: 0.8;
	color: #E4ECEF;
}
article#day6wrapper {
	margin-top: 2em;
	background: url(images/homepage/scene4day6.png);
	opacity: 0.8;
	color: #010026;
}

footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid #C3C9CC;
  text-align: right;
}
#copyright {
	color: #000;
}
